.header{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 30px;
    border: 1px solid;
    align-items: center;
}

.container{
    margin-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    width: 70vw;
    margin-left: 15vw;
}

.noteTable{
    width: 100%;
    border-collapse: collapse;
}

.link{
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 10%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.head{

    align-content: center;
    width: 40%;
    align-self: center;
}
.date{
    width: 40%;

}

body{
    margin: 0;
}

.hiddenId{
    display: none;
}
.note{
    text-align:justify;
    width:100%;
    height: fit-content;
}

.edit{
    width: 100%;
    height: 100%;
}
.button{
    width: 100%;
}
.delete{
    width: 20%;
}
.oneNote{
    height: fit-content;
    width: 80%;
}
.editForm{
    display: inline-block;
    width: 85%;
}

.formButtons{
    width: 5em;
}
.cancel{
    display: inline-block;
    width: 14%;
}

tr{
    border: 1px solid;
}
.editInput{
    width: 80%;
}